/rpc/src/Rpc/.vs/
/rpc/src/Rpc/Benchmark.psesss
/rpc/src/Rpc/Benchmark*.psess
/rpc/src/Rpc/Benchmark*.vsp
/rpc/src/Rpc/Benchmark/bin/
/rpc/src/Rpc/Benchmark/obj/
/rpc/src/Rpc/BinaryPacker/bin/
/rpc/src/Rpc/BinaryPacker/obj/
/rpc/src/Rpc/Rpc/bin/
/rpc/src/Rpc/Rpc/obj/
/rpc/src/Rpc/TestResults/
